1 ICON "../icons/notepad.ico"

1 VERSIONINFO
FILEVERSION 10,0,19041,1
PRODUCTVERSION 10,0,19041,1
FILEOS 0x4
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "Microsoft Corporation"
      VALUE "FileDescription", "Notepad"
      VALUE "FileVersion", "10.0.19041.1"
      VALUE "InternalName", "notepad.exe"
      VALUE "OriginalFilename", "notepad.exe"
      VALUE "ProductName", "Microsoft Windows Operating System"
      VALUE "ProductVersion", "10.0.19041.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
